    body {background-color: #fff; font-family: Helvetica;}
    .title-college{color: #EA7E23; font-size: 24px;}
    .title-field{font-size: 12px; text-decoration: underline; font-weight: bold;}
    .description{font-size: 12px; text-decoration: none; font-weight: none;}
    .essay-content{color: #0000;}